*{
    margin: 0;
    padding: 0;
    border: 0;
    
}


/* Menu Hamburguesa */

.show-menu-btn,
.hide-menu-btn {
    display: none;
}

.show-menu-btn, .hide-menu-btn {
    float: right;
}
.menu a:active {
    font-size: 16px;
    color: rgba(6, 10, 36, 0.56);
}

#chk {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

   /* Barra de navegacion  */
.navegacion{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;   
}

.logo{
    position: absolute;
    top: 10px;
    left: 100px;
    height: 36px;
    width: 36px;   
}

.menu{
    margin-right: 100px;
}
.menu > li{
    display:inline-block ; 
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    text-transform: uppercase;
    text-decoration:none ;
    color: #060A24;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
}
.menu > li > a:hover{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #00F3BB;
    letter-spacing: 0;
    line-height: 28px;
    text-decoration: line-through;
}
.menu > li > a:active{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: rgba(6,10,36,0.56);
    letter-spacing: 0;
    line-height: 28px;
    text-decoration: line-through;
}
  /* Aca termina la barra de nav */

.contenedor{
    width: 100%;
    height: 369px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   
}

.contenedor > h1{
    font-size: 64px;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-left: 200px; 
    color: #060A24;
    letter-spacing: 0;

}

.punto{
    color: #0000EC;
    height: 84px;
    width: 18px;
    font-size: 64px;   
}

.parrafo{
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
    margin-left: 200px;
    width: 628px;
    height: 48px;
    font-family: 'IBM Plex Mono', monospace;  
}

.parrafo-mobile{
    display: none;
}
.conterboton{
    width: 100%;
 
}
.conterboton > input{
    margin-top: 50px;
    margin-left: 200px;
    width: 226px;
    height: 56px;
    background-color: #00F3BB;
    color: #060A24;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
}
.conterboton > input:hover{
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
}

.episodios{
    width: 100%;
    height: 1042.6px;
    background: linear-gradient(to right, #0000A3, #0000FF);
    clip-path: polygon(100.00% 0.00%, 100.00% 84.52%, 0% 100%, 0.00% 15.00%);
}

.primerosespisodios{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.primerosespisodios > iframe{
    width: 584px;
    height: 232px;
    margin-bottom: 50px ;
}
.segundosespisodios{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.segundosespisodios > iframe{
    width: 584px;
    height: 232px;  
}
.episodios > p{
    font-size: 48px;
    color: #ffffff;
    font-family: 'IBM Plex Sans', sans-serif;
    width: 209px;
    height: 62px;
    margin-left: 200px;
    padding-top: 200px;
    margin-bottom: 26px;
}

.conterphone{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conterphone > img{
    position: absolute;
    width: 457.6px;
    height: 660px;
    left: 200px;
    top: -200px;
}

.conterphone > h2{
    height: 1.6%;
    width: 32%;
    color: #060A24;
    font-size: 48px;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-left: 500px;
    margin-bottom: 24px;
}

.conterphone > p{
    height: 5.2%;
    width: 32.2%;
    color: #060A24;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    margin-left: 500px; 
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;   
}

.conterfotos{
    width: 100%;
    height: 100%;
}

.conterfotos > h2 {
    color: #060A24;
    font-size: 48px;
    font-family: 'IBM Plex Sans', sans-serif;
    height: 1.6%;
    width: 50%;
    margin-top: 250px;
    margin-left: 150px;
    margin-bottom: 10px;
}

.subconterfotos > img{
    width: 33.3%;
    height: 9.3%;   
}

.subconterfotos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;   
}

.conterfotos > h3{
    color: #060A24;
    font-size: 48px;
    font-family: 'IBM Plex Sans', sans-serif;
    width: 45%;
    height: 1.6%;
    margin-top: 30px;
    margin-left: 150px;
}

.contersvg{
    width: 100%;
    height: 100%;
    margin-top: 56px;
    display: flex;
    justify-content: center;
    
}
.conterh4{
    width: 260px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contersvg > img{
    margin-top: 50px;
    
}

.conterh4> h4{
    width: 220px;
    height: 64px;
    color: #060A24;
    font-size: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.conternovedades{
    width: 100%;
    height: 518px;
    background: linear-gradient(to right, #0000A3, #0000FF);
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0.00% 30.00%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conternovedades > h1{
    color: #ffffff;
    font-size: 48px;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.conternovedades > input{
    width: 24%;
    height: 10%;
    background-color: #00F3BB;
    color: #060A24;
    font-family: 'IBM Plex Mono', medium;
    font-size: 18px; 
    line-height: 24px;
    text-align: center;
}

.conternovedades > input:hover{
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
}

.conterpiepagina{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conterpiepagina > p{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
    width: 269px;
    height: 28px;
    margin-left: 60px;
}

.subpiepagina{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
}
.subpiepagina > a{
    color: #060A24;
    text-decoration:none ;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 28px;
}
@media only screen and (max-width: 1024px) {
    
    .menu {
        margin: 0px;
        float: right;
        padding: 0% 5%;
        position: absolute;
        left: 0;
        top: 6%;
        width: 100%;
        background: #0000EC;
        text-align: left;
        display: none;
    }
    
    .show-menu-btn{
    display: block;
    margin-top: -39px;
    }

    .hide-menu-btn {
        display: none;
        margin-top: -39px;
    }
    
    .show-menu-btn, .hide-menu-btn {
        font-size: 24px;
        float: right;
    }
    
    .show-menu-btn i, .hide-menu-btn i {
        line-height: 44px;
        margin-right: 20px;
        
    }

    .menu li{
        display: flex;
    }
    
    .menu > li > a {
        
        color: #FFFFFF;
        text-transform: uppercase;
        text-decoration: none;
        padding: 12px 0px;
    }
    
    #chk:checked ~ .menu {
        display: block;
    }
    
    #chk:checked ~ .show-menu-btn {
        display: none;
    }
    
    #chk:checked ~ .hide-menu-btn {
        display: block;
    }
    
    #chk {
        position: absolute;
        top: -500px;
        visibility: hidden;
        z-index: -1111;
    }

    .contenedor{
        width: 100%;
        height: 280px;
    }
    
    .contenedor > h1{
        display: inline-block;
        font-size: 36px;
        font-family: 'IBM Plex Sans', sans-serif;
        margin-left: 16px;
        font-size: 36px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 42px;   
    }
    .parrafo{
        display: none;
    }
    .parrafo-mobile{
        display:block ;
        font-size: 14px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 22px;
        margin-left: 16px;
        margin-top: 16px;
        width: 288px;
        height: 75px;
        font-family: 'IBM Plex Mono', monospace;  
    }
    .punto{
        font-size: 36px;
        color: #000000;
        width: 10px;
        height: 42px;   
    }
    .conterboton > input{
        margin-top: 36px;
        margin-left: 16px;
        margin-bottom: 36px;
        width: 288px;
        height: 48px;
        background-color: #00F3BB;
        color: #060A24;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px;
        letter-spacing: 0;
        text-align: center;
        line-height: 24px;
    }
    .logo{
        height: 24px;
        width: 24px;
        left: 16px;   
    }
    .episodios{
        width: 100%;
        height: 1203.5px;
        background: linear-gradient(to right, #0000A3, #0000FF);
        clip-path: polygon(100% 0%, 100% 97%, 0% 100%, 0.00% 3.00%)
    }
    .episodios > p{
        font-size: 36px;
        color: #ffffff;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        letter-spacing: 0;
        line-height: 42px;
        width: 209px;
        height: 62px;
        margin-left: 16px;
        padding-top: 64px;
    }
    .primerosespisodios{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
    }
    .primerosespisodios > iframe{
        width: 94%;
        margin-bottom: 11px;
    }
    .segundosespisodios{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .segundosespisodios > iframe{
        width: 94%;
        margin-bottom: 11px;
    }
    .conterphone{   
        width: 100%;
        height: 800px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }
    
    .conterphone > img{
        position: absolute;
        width: 360px;
        height: 519px;
        left: -20px;
        top: -78px;
    }
    .conterphone > h2{
        height: 84px;
        width: 288px;
        color: #060A24;
        font-size: 36px;
        font-family: 'IBM Plex Sans', sans-serif;
        margin-left: 5%;
        letter-spacing: 0;
        line-height: 42px;
    }
    
    .conterphone > p{
        height: 270px;
        width: 288px;
        color: #060A24;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 14px;
        margin-left: 16px;   
        letter-spacing: 0;
        line-height: 22px; 
    }
    .conterfotos{
        width: 100%;
        height: 100%;
    }
    
    .conterfotos > h2 {
        color: #060A24;
        font-size: 36px;
        font-family: 'IBM Plex Sans', sans-serif;
        height: 1.5%;
        width: 90%;
        margin-top: 54px;
        margin-left: 16px;
        margin-bottom: 14px;
    }
    
    .subconterfotos > img{
        width: 100%;
        height: 4.5%;   
    }
    
    .subconterfotos{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;   
    }
    
    .conterfotos > h3{
        color: #060A24;
        font-size: 36px;
        font-family: 'IBM Plex Sans', sans-serif;
        width: 90%;
        height: 1.5%;
        margin-top: 48px;
        margin-left: 16px;
    }
    
    .contersvg{
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
    }
    .conterh4{
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        
    }
    
    .contersvg > img{
        margin-top: 50px;
        
    }
    
    .conterh4 > h4{
        width: 90%;
        height: 1.2%;
        color: #060A24;
        font-size: 24px;
        font-family: 'IBM Plex Sans', sans-serif;
        text-align: center;
        margin-top: 0px; 
        margin-bottom: 20px;
    }
    .conternovedades{
        width: 100%;
        height: 341px;
        background: linear-gradient(to right, #0000A3, #0000FF);
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0.00% 6.00%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .conternovedades > h1{
        color: #ffffff;
        font-size: 36px;
        font-family: 'IBM Plex Sans', sans-serif;
        text-align: center;
        margin-bottom: 36px;
        letter-spacing: 0;
        line-height: 42px;
    }
    
    .conternovedades > input{
        width: 90%;
        height: 48px;
        background-color: #00F3BB;
        color: #060A24;
        font-family: 'IBM Plex Mono', medium;
        font-size: 16px; 
        line-height: 24px;
        text-align: center;
    }
    
    .conternovedades > input:hover{
        background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        line-height: 24px;
    }
    .conterpiepagina{
        width: 100%;
        height: 125px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .conterpiepagina > p{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 14px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 28px;
        width: 227px;
        height: 22px;
        margin-left: 0px;
    }
    
    .subpiepagina{
        width: 84%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 0px;
        margin-top: 16px;
        
    }
    .subpiepagina > a{
        color: #060A24;
        text-decoration:none ;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 28px;
        
    }
    








}


